/**
 * style.less
 * @author wangbo
 * @since 2020/3/19
 * @github https://github.com/BoWang816
 */
@background: #FFF;
::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
	background-color:#f8f8f8;
}
::-webkit-scrollbar {//滚动条的宽度
	width:4px;
	height:4px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
	background-color:#dddddd;
	background-clip:padding-box;
	min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
	background-color:#bbb;
}
.header {
	padding: 0 20px;
}
.header, .side, .main-area {
	background: @background;
	box-shadow: 0 2px 8px #f0f1f2;
}
.side {
	margin-top: 20px;
	overflow: auto;
	box-shadow: 3px -2px 8px #ccc;
	border-radius: 4px;
}
.main-area {
	height: calc(100vh - 64px - 70px);
	padding: 0 0 20px 20px;
	overflow: auto;
}

.footer {
	padding: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.ant-tag {
	border-radius: 4px;
}
