/**
 * style.less
 * @author wangbo
 * @since 2020/3/19
 * @github https://github.com/BoWang816
 */
@background: #FFF;

.header, .side {
	background: @background;
	box-shadow: 0 2px 8px #f0f1f2;
}
.side {
	padding-top: 20px;
}
.main-area {
	height: calc(100vh - 64px - 70px);
	overflow: auto;
}

.footer {
	padding: 0;
}
